<div class="container">
  <div class="row">
    <div class="col-md-12">
    	<h3>Edit Career</h3>
    	<ol class="breadcrumb">
			  <li><a href="<%=  %>">Home</a></li>
			  <li><a href="<%=careers_path%>">Careers</a></li>
			  <li class="active">Edit</li>
			</ol>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">
      <%= render 'form', career: @career %>
    </div>
  </div>
</div>